<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-nav-bar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#/home">Library Manager</a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarNavDropdown" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item p-r-30">
          <a aria-current="page" class="nav-link active" href="#/home">Home</a>
        </li>
        <li class="p-r-30 nav-item">
          <a class="nav-link" href="#/home/book-category">Book Category</a>
        </li>
        <li class="p-r-30 nav-item">
          <a class="nav-link" href="#/home/book">Book</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

