.m-t-20 {
  margin-top: 20px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-l-20 {
  margin-left: 10px;
}

.t-a-e {
  text-align: end !important;
}


.height-30px {
  height: 30px !important;
}

.t-a-c {
  text-align: center;
}
