<div>
  <div class="row" style="margin: 10px">
    <div class="col-md-11 height-30px">
      <h2>Delete Book Category</h2>
    </div>
    <div class="col-md-1 t-a-e">
      <button
        (click)="onCancelClick($event)"
        aria-label="Close"
        class="btn-close"
        type="button">
      </button>
    </div>
  </div>

  <hr>

  <div class="row" style="margin: 10px">
    <p>Are you sure want to delete this book category?</p>
  </div>

  <hr>

  <div class="row" style="margin: 10px">
    <div class="col-md-12 t-a-e">
      <ng-container>
        <button
          (click)="onConfirm($event)"
          class="btn btn-primary"
          type="button">
          Confirm
        </button>
      </ng-container>
      <ng-container>
        <button
          (click)="onCancelClick($event)"
          class="btn btn-secondary m-l-20"
          type="button">
          Cancel
        </button>
      </ng-container>
    </div>
  </div>
</div>
